[2016-07-10 18:52] Pomax opened #3 "demo link does not appear to work"
hitting up the demo link throws a 404...

[2016-07-10 22:28] clauderic commented on #3
+1

[2016-07-11 00:13] mike-schultz commented on #3
Good catch! I replaced it with a link to my codepen collection of ZingTouch demos: http://codepen.io/collection/XqNzER/ . I will be periodically adding demos to that collection as well.

[2016-07-11 00:13] #3 closed

[2016-07-11 02:30] nighca opened #5 "fix es6-style include"
Hi, it seems that small mistake exists in es6-style include.
https://github.com/zingchart/zingtouch/pull/4

[2016-07-11 05:19] mike-schultz commented on #5
you're right, thanks!

[2016-07-11 05:19] #5 closed

[2016-07-25 10:05] vvsraju04 opened #6 "mouse support for Rotate gesture"
ZingTouch's Rotate gesture works very well with touch capable devices . Could we have mouse support as well for this similar to tap ( click ) . We can have Rotate gesture with mouse dragging to rotate in mouse enabled devices to behave as two finger touch rotate .

[2016-07-25 15:58] mike-schultz commented on #6
I think that could be possible. The only issue would be where to designate the pivot point in relation to the mouse input - probably the center of the target element. I'll play around with the idea a bit.

[2016-07-27 04:21] vicMasons opened #7 "can't build"
here is the error.

sh-3.2# npm run build:dev

Hash: 64e1cee08a5ee3e5eb87
Version: webpack 1.13.1
Time: 230ms
    + 1 hidden modules

ERROR in ./src/core/main.js
Module build failed: Error: Couldn't find preset "es2015" relative to directory "/usr/local/lib/node_modules/zingtouch/src/core"
    at /usr/local/lib/node_modules/babel-core/lib/transformation/file/options/option-manager.js:313:17
    at

[2016-07-27 04:43] mike-schultz commented on #7
You might need to build using an updated node version. Nevertheless, I just included the dependency (babel-preset-es2015) in the package.json directly. Update and give npm install a go one more time. I've thrown up the unminified file in `/dist` as well.

[2016-07-27 06:03] mike-schultz commented on #6
@vvsraju04 Implemented one-finger rotate in v.1.0.1. I just had to extend the functionality a little for the rotate function to accept a single input. It's usable on both desktop and touch capable devices. See: https://github.com/zingchart/zingtouch/releases/tag/1.0.1

[2016-07-27 06:15] mike-schultz commented on #6
![http://i.giphy.com/26BRqwJE79eJuSlWg.gif](http://i.giphy.com/26BRqwJE79eJuSlWg.gif)

[2016-07-27 07:20] vvsraju04 commented on #6
Thank you @mike-schultz . Works perfectly .

[2016-07-27 07:20] #6 closed

[2016-07-29 21:20] #7 closed

[2016-08-23 10:23] hashrock opened #9 "Cannot find module './dist/zingtouch.min.js'"
I got the error when I use zingtouch with npm.

Steps to reproduce
------------------

[code]

Actual behavior
---------------

[code]

`./dist/zingtouch.min.js` is missing but there is `zingtouch-1.0.1.min.js` in node_modules.

[code]

Environment data
----------------

 - node v5.11.0
 - npm 3.9.5

[2016-08-23 16:32] mike-schultz commented on #9
Thanks for catching that issue! The file was incorrectly published to npm. I bumped the version number to 1.0.2 both in this repo and on npm so it should work now.

Just to note:  incase if you try the new version with the steps above, zingtouch won't work directly in node as it is browser based and it needs the `window` object. You will need to use a tool like browserify to get it to load in the

[2016-08-23 19:13] #9 closed

[2016-08-24 01:34] hashrock commented on #9
Thank you! 👍
I'll use zing-touch with webpack.

[2016-10-21 03:57] johnmastri opened #10 "Deprication Warning?"
Haven't had these warning pop up until today - any ideas?

Performing operations that require explicit user interaction on touchend events that occur as part of a scroll is deprecated and will be removed in M55, around November 2016. See https://www.chromestatus.com/features/5649871251963904 for more details.

Ignored attempt to cancel a touchend event with cancelable=false, for example because sc

[2016-10-21 15:36] mike-schultz commented on #10
What environment are you seeing these warnings? Are you seeing this whenever you use zingtouch or is it under certain use cases?

Adding this to the discussion as well:

https://docs.google.com/document/d/1oF1T3O7_E4t1PYHV6gyCwHxOi3ystm0eSL5xZu7nvOg/edit#heading=h.qq59ev3u8fba

[2016-10-21 15:55] mike-schultz commented on #10
Adding these to the discussion as well:

**Touch gesture intervention:**
https://docs.google.com/document/d/1oF1T3O7_E4t1PYHV6gyCwHxOi3ystm0eSL5xZu7nvOg/edit#heading=h.qq59ev3u8fba

Pointer events in chrome 55+ could be potentially useful here if touch events become problematic.
https://developers.google.com/web/updates/2016/10/pointer-events

[2016-10-28 16:56] jwdinker opened #11 "Passing "tap" vs customTap as an argument to a bind event."
Hey friends!  I just wanted to clarify the behavior of a custom tap event.  I'm guessing passing in a customTap event as a parameter doesn't mimic the same behavior as a "tap" event?  It seems the customTap event can only be bound once unless its recreated each time within the for loop. To expand on your example....

-This only binds the event to the last child because it's created outside the for

[2016-10-28 21:04] mike-schultz commented on #11
Hey, looks like it was an issue of how custom gestures were being tracked. The `bind()` would reassign a new internal id to that gesture, even if it had an assignment (from a previous bind).

Thanks for finding the bug!

[2016-10-28 21:04] #11 closed

[2016-11-04 15:14] MaximeDesRoches opened #12 "Panning and rotating the same element"
Hey, thanks for the amazing library !

Is there any way to make the pan, pinch and rotate events work together ?

[2016-11-04 16:02] mike-schultz commented on #12
You can attach as many listeners to a single object as you want, but they will only fire when that specific gesture is being performed. This does mean that multiple gestures may fire simultaneously, such as a 2-finger pinch and 2-finger rotate. It would be up to the end-developer to make the decision of what listener is appropriate at that time. The library does not perform any deterministic guess

[2016-11-04 16:03] MaximeDesRoches commented on #12
Ok, thanks, I'll se what I can do then.

[2016-11-06 20:19] jwdinker opened #13 "Direction Bug in Pan"
The PAN event will quit abruptly if the current direction is anything other than 360 degrees.  Not sure if this is an intended consequence.

In the gif, the box is translating based off the distanceFromOrigin.  During the event, the conditions are to translate the element while the currentDirection is greater than 90 degrees and less than 270 degrees.  The first half of the gif shows the touch eve

[2016-11-07 16:25] mike-schultz commented on #13
Are you able to put this on something like jsfiddle? I can't seem to replicate, or perhaps I'm not 100% clear on understanding the use case.

Just to note, `currentDirection` can give noisy results since it's translating user interactions. Even a slight twitch in the opposite direction, the `currentDirection` will output that value.

[2016-12-05 22:03] markadrake opened #14 "Prevent Default for Left / Right Swipes Only (Browser History Issue)"
Thought I might use your touch library here to create my own version of a slider but noticed I'm having some issues in Google Chrome because a swipe left or right will also cause the browser to go back or forward (respectively) in history.

This behavior is prevented by the default value of `preventDefault` - however if this is set to true on an element that takes up a large percentage of the view

[2016-12-05 22:13] markadrake commented on #14
Thinking the alternative here is to leave `preventDefault` off like it is by default, but wire a pan up/down event to scroll the body of the page. But now I'm using `scrollBy(x, y)` and it's jumpy instead of smooth. Probably just making more of a hassle than it's worth. Love to hear somebody else's feedback just in case they've tried it though.

[2016-12-06 16:36] mike-schultz commented on #14
One approach you could take is to set the region's preventDefault to false, but to dynamically call `preventDefault()` on the original event when you want it to stop.

Something along the lines of...

[code]

You'll need to figure out when you want the scrolling to be stopped manually. Possibly detect if the user has been in a horizontal motion, rather than a vertical scrolling motion.

[2016-12-06 22:05] markadrake commented on #14
I was able to use your suggestion in this way Mike. Essentially I pick a range of angles that are appropriate for left / right (next / prev) movement, and for others I allow scrolling to continue through. I initialize the region with a false flag for `preventDefault`.

[code]

Thank you for your suggestion. Especially for the hint at multiple events needed to have preventDefault called.

[2016-12-15 22:49] #14 closed

[2016-12-19 20:57] markadrake opened #15 "Swipe event isn't triggered if `preventDefault` is set to false. [Chrome running on Android Device]"
If you initialize a region `ZingTouch.Region(element, capture, preventDefault, id)` with `preventDefault: false` the swipe event doesn't seem to trigger at all.

This is happening on a mobile Android device running Chrome.

Please let me know if there is anything wrong with the following example: http://codepen.io/markadrake/pen/PbVXZe

I'm simply doing a `console.log` to verify this functionality

[2016-12-20 03:15] mike-schultz commented on #15
I believe this is related to a recent chrome 55 addition which breaks traditional touch action: https://developers.google.com/web/updates/2016/10/touch-action . Hammer.js looks to be having this issue as well. I'll spend some time trying to figure out a solution, but feel free to share any knowledge you find as well.

[2016-12-20 03:15] #12 closed

[2017-01-05 11:32] iwazaru opened #16 "Support double tap"
Any plans to support double tap ?

If I'm not mistaken, this is not supported by ZingTouch yet. I tried to use the `numInputs` option of the `Tap` gesture only to understand that it was for the number of fingers, not the number of taps in time.

I feel that double tap is a common use case in touch screens UI and frequently implemented in other multi-touch libraries. I think this would be a useful

[2017-01-06 00:33] mike-schultz commented on #15
Hey @markadrake , I had some time to take a look at it and it is indeed a pointer events issue in the newest chrome. I don't have a fix for this yet, but if you need an immediate fix you can disable pointer events by just setting this if statement to become false: https://github.com/zingchart/zingtouch/blob/master/src/core/classes/Region.js#L62 .

PointerEvents are crucial to the Edge browser, so

[2017-01-06 00:34] #10 closed

[2017-01-06 01:07] mike-schultz commented on #16
Yeah I agree that's a good gesture to be implemented. A little bit of work will need to be done throughout the code since all of the existing gestures reset after all inputs leave the screen; different in the case of a double tap.

[2017-01-06 22:34] mike-schultz commented on #16
I did some work towards it, but there are a couple issues towards it. ZingTouch's logic predicates gestures as a on-screen event ending when all inputs off screen. Double-tap is a unique gesture where we would need to track the progress across multiple events. Currently the architecture does not support that and it would either have to be redone, or hacked around to make it work.

In addition, dou

[2017-01-06 23:00] iwazaru commented on #16
Thanks Mike for your work so far.

I'm working on a digital comics reader and I'm looking for a multi-touch gesture library to implement controlling zoom level on a image with pinch, expand and double-tap. I've tried Hammer.js who supports double tap but I feel it lacks precision so I'd rather use ZingTouch.

I have a prototype using ZingTouch where I detect two ZintTouch `Tap` events using `setTi

[2017-01-09 08:43] iwazaru commented on #16
Here's my prototype with specific use case using expand, pinch, and manually-implemented double tap to manipulated an image (a blue rectangle in the prototype) : https://gist.github.com/iwazaru/058b4dfad18d37d751d46884b261c967

[2017-01-10 14:55] iwazaru opened #17 "Get position informations for Pinch and Expand gestures"
I think it would be useful for Pinch and Expand gestures events to return coordinates of a point located a the center of the inputs that triggered the events. Coordinates should be in pixels with 0,0 being the top left of the ZingTouch Region.

Use case: when using Pinch and Expand gestures on an image to control its zoom level, you don't want to scale the image with it's center for [transform-ori

[2017-01-16 06:42] mike-schultz commented on #15
should be fixed for now in 6ada783 but disallowing pointer events if touchEvents exist. I'll have a build out as soon as a couple other PRs and issues are resolved.

[2017-01-16 06:42] #15 closed

[2017-01-16 06:47] mike-schultz commented on #17
Hey, thanks for the suggestion. I do agree some sort of way to get a center point would be valuable like the use case you have showed.

Im not so sure a reference to the Region would be best though. Region areas can be bigger than the element bound to the pinch/expand area. They're meant to act as a bleeding area since fingers are not precise.

I did expose out a center point option in 988f787, if

[2017-01-19 15:33] iwazaru commented on #17
It works great, thanks !

[2017-01-19 15:33] #17 closed

[2017-03-03 13:02] Kris-B commented on #15
Hi @mike-schultz
any news about this chrome issue? do you plan a release?

Chris

[2017-03-03 16:53] mike-schultz commented on #15
Hey @Kris-B , the PR I was waiting on got stale, but I went ahead and pushed ahead a release including the workaround that I did to avoid pointer events in chrome.

[2017-03-03 22:16] Kris-B commented on #15
any thanks!

;-)

[2017-03-07 09:13] danielwilson654 opened #19 "Gesture Area Access"
Is it possible for gesture actions to be detected through embedded div elements? I have some div elements inside a parent div. I set the parent div to be the gesture region and area. This disabled the onclick event of the child div elements. Is there a way to keep the functionality of div elements within a gesture region without interrupting the gestures? Previously, I had been using the js listen

[2017-03-08 01:40] danielwilson654 opened #20 "ZingChart Version Number"
The version number heading in zingtouch.js and zingtouchmin.js display 1.0.3. Should they be 1.0.4?

[2017-03-08 01:57] danielwilson654 opened #21 "Mobile Browser Syntax Error"
Version 1.04 works with firefox's and chrome's responsive design modes but fails to work on mobile browsers. I tested IOS Safari and Blackberry's native browser. I wasn't able to get browser side debugging working for Safari but my Blackberry reports the following error at line 8 pf zingtouchmin.js

I observed this same issue with the master build a few weeks back. I will revert back to 1.0.3 unti

[2017-03-08 16:06] mike-schultz commented on #19
Hey @danielwilson654 can you put together a demo of the issue you are having up on jsfiddle or codepen?

[2017-03-10 06:23] danielwilson654 commented on #19
Hey @mike-schultz,
Here is an example on codepen [http://codepen.io/danielwilson654/pen/oZBGqG](url)

I used the pinch/extend gestures in the example.

I would like to know if it is possible to use the "Click Me!" div for gesture purposes while maintaining the ability to click the div.

I am able to make the "Click Me!" div clickable while inside the gesture area, but then gestures are interrupted

[2017-03-12 23:23] mike-schultz commented on #20
Thanks. It will be changed in the next build, forgot to modify the webpack file

[2017-03-12 23:23] #20 closed

[2017-03-12 23:24] mike-schultz commented on #19
Hey @danielwilson654 , thanks for the demo. The previous logic disallowed any gestures not originating from the same point, and didn't account for nested elements. I modified the code a bit and it should be a bit more flexible on this branch: https://github.com/zingchart/zingtouch/tree/fix-19

 Let me know how it goes...

[2017-03-13 09:11] danielwilson654 commented on #20
No worries. Not a big contribution, but glad to help out where possible!

[2017-03-13 09:21] danielwilson654 commented on #19
Thank you, Mike! I'll give the fix a shot.

[2017-03-13 15:26] mike-schultz commented on #21
Just for clarification, it does work on mobile chrome + safari, but does not on blackberry? Could you tell me what versions you are testing on?

[2017-03-13 22:23] danielwilson654 commented on #21
It fails on IOS Safari, Blackberry's native browser, and Chrome's mobile browser. The library works fine on all desktop browsers I have tested.

I don't have a mac so I couldn't remote test IOS Safari to see where the issue was. I'm assuming it has the same issue as the blackberry for the symptoms are the same on both devices. The Library fails to load.

[2017-03-13 23:05] danielwilson654 commented on #21
I used the Zingtouch Expand_Pinch Pen I made earlier to test this. I found 1.03 worked fine on all devices tested. 1.04 worked only IOS 10.2 (up to date). It failed to work on an ipad running IOS 9.3.5.

I first observed this issue with a master build I downloaded on Feb 21 2016.

[2017-03-14 13:15] hermanho opened #22 "Uncaught ReferenceError: i is not defined"
When there are two event bindings in DOM tree, it throw error

Example, error will throw when tap on the green button
https://jsfiddle.net/hermanho/nbfmdxpm/

[2017-03-14 22:18] danielwilson654 commented on #22
Could be related to #21...

[2017-03-15 04:15] #22 closed

[2017-03-15 04:15] mike-schultz commented on #22
Thanks, fix will be in the next release

[2017-03-15 05:59] mike-schultz commented on #21
I can't seem to replicate this issue on an iphone running 10.2, and I only have access to 9.3 on the iOS simulator (can't replicate it there either). I did test it on a couple android devices running 54-54 chrome but didn't see any issues there.

Are you able to give a line number on an unminifed build of v.1.0.4 + to help track down the error?

[2017-03-22 23:54] danielwilson654 commented on #21
Thanks for trying Mike. bellow is the error and line 8. I used zingtouch.min.js of 1.04 because it seemed zingtouch.js is actually the minified version. Please correct me if I am wrong.

`SyntaxError: Expected an identifier but found 'i' instead zingtouch.min.js: 8`

`if(n[r])return n[r].exports; let i=n[r]={exports: {}, id: r, loaded: !1}; return e[r].call(i.exports, i, i.exports, t), i.loaded=!0

[2017-03-23 15:23] pitAlex commented on #21
I can confirm its happening to me too. In mac chrome browser, the 'i' error happens when I have 2 elements with a tap event, one element is inside the other.

[2017-03-24 03:16] danielwilson654 commented on #21
@pitAlex Thanks for the info. Does the error occur if you use the 1.0.3 library?

[2017-03-24 04:02] mike-schultz commented on #21
@pitAlex I believe that issue is related to #22 which is currently fixed on the master branch. I just made a release for that fix (1.0.5).

@danielwilson654 Could you re-verify your issue with 1.0.5?  I recall you stating it was different from the #22 fix, but want to make sure it exists before keeping this issue open.

[2017-03-24 04:03] danielwilson654 commented on #21
@mike-schultz Sure thing.

[2017-03-24 04:11] mike-schultz commented on #21
Also if it helps, `zingtouch.js` should be unminified now in the /dist folder.

[2017-03-24 04:16] danielwilson654 commented on #21
Fixed! Thanks for that. Backwards comparability is important for the project I'm working on.

I'll now use 1.0.5 to test your fix for #19 and hopefully get that one closed too.

[2017-03-24 04:56] #21 closed

[2017-03-29 08:24] angelarted opened #23 "Importing directly min.js cause errors"
Hallo!
I tried importing Zing library in an ES6 project as suggested in the main site (https://zingchart.github.io/zingtouch/) with this path:

      import ZingTouch from '../vendor/zingtouch/dist/zingtouch.min.js';

**screenshot of the suggestion in the main page**
![schermata 2017-03-29 alle 10 04 58](https://cloud.githubusercontent.com/assets/5982081/24444953/8fe173b0-1468-11e7-8536-d80e1b206f

[2017-03-29 15:42] mike-schultz commented on #23
@angelarted Hey thanks for noticing that. The snippet on the homepage is outdated and I'll go ahead and fix that to the correct one on github.

The `zingtouch.min.js` file is made to attach itself to the global window object and does not force the developer to use module imports.

The `import ZingTouch from 'zingtouch'` syntax is actually pointing to the [index.js](https://github.com/zingchart/zin

[2017-04-04 04:50] danielwilson654 commented on #19
Hi Mike,

v1.0.5 didn't seem to do it unfortunately. I Updated the [Codepen test ](http://codepen.io/danielwilson654/pen/oZBGqG)to use v1.0.5. Gestures work over the top of the button div but unfortunately the dive does not respond to clicks where the button div overlaps the gesture area.

I was able to work around this issue partially by setting the Region's PreventDefaults property to false and

[2017-04-20 11:13] danielwilson654 commented on #19
Any progress on this one?

[2017-04-21 15:54] mike-schultz commented on #19
Hey @danielwilson654 , I took a look at this and can see some issues with zooming + native events. Native zoom and scrolling gestures are problematic on mobile devices, so setting preventDefault on regions is preferred to help with that.

Instead of using native onclick events, are you able to use the library's 'tap' event? It tracks browser clicks as well as mobile taps. It seems like it works in

[2017-04-22 02:31] danielwilson654 commented on #19
Hey @mike-schultz, Thanks for looking into this.  My company uses Xojo Web to build web apps. The Xojo web app has pre-built html/JS controls. I was hoping not to touch every web control.

I am trying to use ZingTouch as the back-end for a drag and drop control that you can easily program with check boxes and object assignments. The  ZingtTouch library works as advertised but web apps are often mo

[2017-04-24 23:53] mike-schultz commented on #19
@danielwilson654

Hey Daniel, more or less, using zingtouch and native events get tricky since we are trying to suppress browser gestures as much as we can.

I was able to figure out a way to get native events working while still maintaining functionality, but it only seems to work when at least one of the inputs is on the target. Hopefully this might give you a bit of insight:

1. Set your Region

[2017-05-09 08:29] danielwilson654 commented on #19
Thanks Mike, I'm testing this now. It appears the fix only works for the updated Iphone OS. I'll let you know how I go.

[2017-05-10 05:21] danielwilson654 commented on #19
Okay, Got it working! Thanks for pointing me down the right track.

I had to make the following changes.

### 1. 'e.detail.events.forEach(event => {' caused error on some mobile browsers.
I replaced it with the following code.
 `for (var i = 0, len = e.detail.events.length; i < len; i++) {
e.detail.events[i].originalEvent.preventDefault();
}`

### 2. 'Element.getBoundingClientRect()' doesn't work

[2017-05-12 05:52] nikkwong opened #25 "Pan event not called past initial bounding box of the child"
The drag event should continue past the target element, however in the following example—when dragged past the initial bounding box of the child, the `pan` callback stops firing:

https://jsfiddle.net/57LgL08q/1/

Is this a bug?

[2017-05-12 15:34] mike-schultz commented on #25
Hey @nikkwong,

zingtouch currently does not support allowing events to be bound on an element and to have it's position modified within one "gesture state". A bit of the core's logic is written around coordinates of when an event initially started, rather than where it last came from. The Rotate gesture for example uses the initial point as a reference for rotational direction.

My suggestion wou

[2017-05-12 15:41] nikkwong commented on #25
That's great! Thanks for the info. It would be great if that was a bit clearer in the docs, because I wasted a bit of time on it.

Cheers!

[2017-05-12 15:41] #25 closed

[2017-05-12 15:53] mike-schultz commented on #25
will do!

[2017-05-12 16:09] mike-schultz commented on #19
Glad it worked out! Curious, what browsers are you running into that getBoundingClientRect forces a repaint?

[2017-06-06 14:42] danielwilson654 commented on #19
So they say... https://gist.github.com/paulirish/5d52fb081b3570c81e3a.

But i also noticed that clientHeight also causes layout thrashing as they call it. The performance wasn't really my main concern. Cross browser support is a large concern to me.

[2017-06-16 03:21] monukanyal opened #26 "rotate one input touch creating problem"
A Rotate is detected when:
1)the user has two inputs moving about a circle on the edges of a diameter.
2)the user has one input moving in a circular motion around the center point of the bound target element.
I don't want to use one input rotate beacause in this case i am using drag. but it is rotating image .please help.

[2017-06-16 15:57] mike-schultz commented on #26
Hey @monukanyal

Thanks for pointing that out. I've added a parameter 'minInputs' in the Rotate constructor to restrict the minimum of inputs needed. In your case, just set the minInputs to 2.

[code]

It's located on the rotate branch here: https://github.com/zingchart/zingtouch/tree/rotate/dist.
Let me know if that works out and I'll push out a new version with it

[2017-06-17 06:35] monukanyal commented on #26
Hello @mike-schultz ,

Its not working. i have already tried it . it is working in  both one input and two input.

[2017-06-20 15:43] mike-schultz commented on #26
What environment/devices are you testing it with? Can you verify this demo is still causing you issues? https://jsfiddle.net/c8k14snx/

[2017-06-21 17:53] nikkwong opened #27 "End handler is being called on .pan even when .pan wasn't fired"
Hi, please see the following pen:

https://codepen.io/anon/pen/awwOVR

Basically we should not expect the function for ```pan.end``` to be called when the gesture itself wasn't fired (as numInputs: 2, a click does not fire the ```pan```).

[2017-06-23 20:13] mike-schultz commented on #27
The lifecycle of the library iterates through each start/move/end hook of each registered gesture and evaluates each function, regardless of what occurred in the previous life cycle step. Each lifecycle hook function either returns an object that should be emitted to the end user, or null to not be emitted.

I'm assuming you have a more complex use case for pan, and need to hook into the `end` eve

[2017-06-25 18:47] nikkwong commented on #27
Thanks for responding. Ok I see, so basically you would suggest adding a statement in the ```end``` function to ```return``` if ```numInputs < 2```?

[2017-06-26 14:58] mike-schultz commented on #27
Yeah that would be the best approach

[2017-06-28 18:23] #27 closed

[2017-07-25 13:41] DeerBeer opened #28 "Pan on IE issue"
Hi,

I have issue on IE version 11.483
have one Pan gesture and on moving with mouse I receive:

SCRIPT445: Object doesn't support this action
around line 1001 in zingtouch.js
`
      var newEvent = new CustomEvent(binding.gesture.getId(), {
        detail: data,
        bubbles: true,
        cancelable: true
      });
`

[2017-08-02 22:15] mike-schultz commented on #28
Hey there,

We currently do not have plans to support IE as there are numerous issues that arise from pointer-events and as this library is more focused towards mobile browsers than desktop.

[2017-08-02 22:15] #28 closed

[2017-08-26 10:43] diegoversiani opened #29 "Detect swipe from edges of the region/element?"
Hi,

I'm looking for a way to detect a swipe event from the left edge of the users screen to open an offside menu.

I only get one event in `e.detail.events` for the `touchend` event so I can't test if the swipe gesture started at let say < 15px from the edge:

[code]

Does the library support this scenario?

Thanks in advance :)

[2017-08-31 20:28] devanecondition opened #30 "Pan events still firing after mouseup (desktop safari)"
I made a small codepen for this here:
https://codepen.io/devanecondition/pen/YxdopX

In Desktop Safari:
- Drag the circle to the point where the cursor has left the window
- Once the cursor is out of the window, mouse up
- Move the cursor over the circle's Region again

Result: The circle will still move with the mouse.  In Chrome, the pan events will stop with the mouse up.

Is there a different

[2017-09-20 19:34] LmKupke opened #31 "Unable to Import zingtouch to component."
I am currently trying to import zingtouch as an ES6 module but it doesn't seem to be recognized when importing.

![image](https://user-images.githubusercontent.com/7860541/30663092-7aca60ca-9e17-11e7-8f20-9eae939ae0db.png)

![image](https://user-images.githubusercontent.com/7860541/30663575-16b993f6-9e19-11e7-9e7c-44630e062822.png)

I am currently using webpack 3 with my Angular 4 project.

[2017-10-02 12:58] Chaoste opened #32 "Support passive event listeners"
Hi,

Can you add passive event listeneres as mentioned this [SO post](https://stackoverflow.com/questions/39152877/consider-marking-event-handler-as-passive-to-make-the-page-more-responsive)?
I'm getting browser warnings in Chrome right now due to this problem.

Greetings,
Thomas

[2017-10-20 23:33] markadrake commented on #32
Seems fairly straight forward, and we can just use the Modernizr test for checking compatibility.

[Taken from Modernizr](https://github.com/Modernizr/Modernizr/blob/5eea7e2a213edc9e83a47b6414d0250468d83471/feature-detects/dom/passiveeventlisteners.js):

[code]

[2017-10-21 00:30] markadrake commented on #32
I started by hard coding the `passive: true` into place, and now I've paired it to use of `preventDefault`. You can see the 2 commits I've made already here: https://github.com/markadrake/zingtouch/tree/passive-event-listeners.

I think there's just one more thing which is using the right value for `State.js` where there is another `addEventListener` call but no reference to whether `preventDefaul

[2017-11-16 15:16] Chaoste commented on #32
Hi,

Thanks for your answer! Unfortunately my team switched to HammerJS for the moment because it might work better for Edge/Explorer.

[2017-12-15 16:03] agriffi10 commented on #23
@mike-schultz HI there, I used the ES6 method to install ZingTouch as described in your comment, but the ZingTouch module is still added to my global namespace. Is that always going to be the case, or is there a way I can prevent it from being added to my global namespace?

[2017-12-19 19:56] danielwilson654 commented on #32
@Chaoste How did you find it? On my initial research I found this library to be superior.

[2017-12-19 19:58] danielwilson654 commented on #30
How did you go with this one?

[2017-12-19 20:04] danielwilson654 commented on #29
I found this library very helpful for managing complicated touch events.

From memory I can't remember if the swipe start event is accessible from the swipe end event. I am inclined to say it is. If it's not, you can easily store the coordinates from the swipe start event in a variable and then access the variable in the swipe end.

[2017-12-19 21:42] danielwilson654 opened #33 "Layered Listeners"
I have a div placed over the top of another div. Each div is setup as a zingtouch region. I would like pinch/expand events to be sent to the underlying region except when I say so.

I tried setting region.capture to false but that didn't do the trick. In desperation I set the overlayed div touch-action css property to "none"; but that didn't work either...

Any help would be much appreciated!

[2018-01-29 10:57] raffaele-clevermind opened #34 "Wrong namespace"
When importing the library as an ES6 module it is only accessible in the global namespace.

Example:

[code]

[2018-02-20 20:55] toothbrush7777777 commented on #30
@devanecondition Have you found a way to work around the issue?

[2018-02-20 21:07] devanecondition commented on #30
I haven't unfortunately @toothbrush7777777

[2018-02-21 12:09] toothbrush7777777 commented on #30
@devanecondition The same issue used to occur with Firefox and IE in the past (with my own handwritten code). Neither browser would fire the `mouseup` event if you released the mouse outside the window.

[2018-03-07 15:05] max-rasguido opened #35 "No typings information to use on TypeScript projects"
There are no typing definition files (.d.ts) for this project, it would be useful to have some definition files to use when working with TypeScript.

[2018-03-07 19:00] max-rasguido commented on #35
I made a simple definition file, I think it could use some improving so I'll leave the code here.

[code]

[2018-03-13 19:07] kozelkral opened #37 "Custom Expand Gesture causes it to be counted as a Pinch"
I'm using custom Expand and Pinch gestures with a set threshold in order to account for some finger movement during a two-finger tap and keep it from triggering either gesture on accident.

I created the custom Expand Gesture with the following code:
`var expandGesture = new ZingTouch.Expand({ threshold: 5 })`
`myRegion.register('newExpand', expandGesture)`
`myRegion.bind(touchArea, 'newExpand', h

[2018-03-23 17:07] tpowell commented on #13
Closed due to no follow-up

[2018-03-23 17:07] #13 closed

[2018-03-26 20:24] mike-schultz commented on #31
#36 related

[2018-03-26 20:24] #31 closed

[2018-03-26 20:26] #19 closed

[2018-03-26 21:02] mike-schultz commented on #37
@kozelkral Thanks for finding this. I just changed the if to look at the constructor, rather than the named 'newExpand'. I'll be putting out a release this week

[2018-03-26 21:02] #37 closed

[2018-03-27 00:32] danielwilson654 commented on #19
I see you have closed this and a new release is available. Will I need to re-edit the new releases as per above?

[2018-03-27 15:39] mike-schultz commented on #19
Hey @danielwilson654, I'm trying to close out old issues and old pull requests this week. If you'd like lets revisit this as a pull request so the fixes you found can be added in?

[2018-04-07 10:27] rgaufman opened #39 "Add to rails-assets.org"
This is a great library and it would be fantastic if it was part of rails-assets.org - if you could add it that would be much appreciated :)

[2018-04-24 09:21] pea opened #40 "Panning with one finger is disabled even if numInputs is set to two"
Hey,

Thanks for the library - it's been a life saver.

I've found an issue in which the touch event for one finger is lost when two fingers are being listened to while using the panning event. It seems to be fine until the first interaction and then one finger panning is lost, stopping the user being able to scroll.

Example: https://jsfiddle.net/e7y86aud

[2018-06-08 18:19] robstown opened #41 "Integration with React?"
Is there any plans to make implementation easier within React components?  It seems like you have to bind the touch event after a component is mounted, which doesn't seem easily integrated within a react component.

[2018-07-25 08:46] DanielRuf opened #42 "failing builds on CI"
There seems to be an issue with PhantomJS:
https://travis-ci.org/zingchart/zingtouch/builds/358614924

[2018-07-27 17:29] trusktr opened #43 "Example of the pitfall?"
This is awesome!

In the README, it mentions a pitfall. Can you provide a working example of that to better understand it?

[2018-08-14 19:40] danielksato opened #45 "Expand and pinch fire in alternating order on pinch"
In release 1.0.6, when an `expand` listener and a `pinch` listener are both bound, the listeners fire in alternating order on a pinch. They do not fire at all on an expand.

Downgrading to 1.0.5 solves this issue, but only when the `expand` listener is bound before the `pinch` listener.

[2018-08-17 18:18] mvanderkamp opened #46 "Pinch broken in dist/zingtouch.min.js"
I have no idea what's causing this, because I'm not familiar with your setup. But here's what's happening:

I've been directly referencing the client library with a `<script>` tag that points to `dist/zingtouch.js` so that I could debug. When I switch to `webpack` to compile my client-side code, I insert a line such as:

[code]

From `index.js` I see that this, without changing anything, will requ

[2018-08-17 20:59] mvanderkamp opened #47 "npm install fails"
I forked this repo as I had decided to attempt to fix the issue I encountered with pinches not getting recognized when using `zingtouch.min.js`, and tried to install it.

Something is missing from the install sequence though. I get the error `PhantomJS not found on PATH`. The install fails from there, and tests fail to run. There's also a bunch of deprecated dependencies.

Is this library no longe

[2018-08-19 16:07] mvanderkamp commented on #46
Oops sorry I just realized this is the same issue as #45 except that I got Pinch and Expand confused.

[2018-08-19 16:07] #46 closed

[2018-08-19 16:12] mvanderkamp commented on #45
My guess is that this is because of the way Pinch and Expand are structured to extend the same Distance class, which knows about Pinch and Expand (this seems like a bad idea) and demultiplexes on the constructor name.

Why is there even a difference between Pinch and Expand in the first place? There should just be a single Pinch class which reports a "changeSinceLast" or some such piece of data. I

[2018-08-19 16:32] danielksato commented on #45
It's frustrating, because my organization has been looking at adopting zingtouch as a replacement for Hammer.js, which hasn't been updated in a year. I want to avoid forking if I can.

[2018-08-19 23:13] mike-schultz commented on #42
Thanks for the notice, will be removing PhantomJS for Headless chrome for our test cases.

[2018-08-20 16:06] mvanderkamp commented on #45
I've submitted a PR.

[2018-08-20 16:06] mvanderkamp commented on #45
I've submitted a PR that seems to fix things up for me: #48

[2018-08-20 16:10] mvanderkamp commented on #45
Do you mind if I do a bit of general cleanup in the code?

[2018-08-20 21:31] mvanderkamp opened #49 "Rotates are jittery"
So I've noticed that the Rotate gesture has a lot of jitter. I'm looking in the source code to try and identify the source of the jitter, and I have a few recommendations for Rotates:

1. For two-finger rotations, instead of basing the reference pivot off of the 'initial' midpoint, base it off of the 'current' midpoint. If you do this, I think you can also chuck out those 'diffX' and 'diffY' varia

[2018-08-20 23:05] mvanderkamp commented on #49
The jitter is solved as part of PR #48
The fix that solved the jitter also enables simultaneous Rotate and Pinch.

[2018-08-23 08:18] hackhat opened #50 "Add delta X/Y in the pan event"

[2018-08-23 08:19] hackhat opened #51 "Docs don't explain how to listen to pan end when using custom Pan instance"
const zingPan = new ZingTouch.Pan({
        numInputs: 1,
        threshold: 1,
      });
      zingTouchActiveRegion.bind(this.canvasElement, zingPan, (e) => {
      });

What should I do to get the pan end event?

[2018-08-23 17:14] mvanderkamp commented on #51
IIRC, something like this should work:

[code]

It's a little less than elegant, but it works well and makes things easy to customize, although you do have to poke around in the source code.

[2018-08-23 17:17] mvanderkamp commented on #50
I added this (albeit under a different name) in PR #48 which is still pending.

[2018-08-24 06:42] hackhat commented on #51
Yeah, the api looks pretty bad. I wonder if is buggy on mobile. I'm coming from hammerjs and sometimes it misses some pan/pinch events and is pretty annoying. Happens the same with this library? or any known annoying bugs?

[2018-08-24 06:48] hackhat opened #52 "Pan doesn't emit events when I drag outside of the window"
Let's say I start dragging something inside the window, but then I move my mouse outside the window it stops the pan event.

Hammerjs for example still emits new events even if the mouse is outside of the window.

[2018-08-24 07:19] hackhat opened #53 "ZingTouch.Expand doesn't emit any events"
const zingPinch = new ZingTouch.Pinch({});
    const zingExpand = new ZingTouch.Expand({});
    zingTouchActiveRegion.bind(this.canvasElement, zingExpand, (e) => {
      // never fired!
      alert(JSON.stringify(e.detail))
    });
    zingTouchActiveRegion.bind(this.canvasElement, zingPinch, (e) => {
      // fires on pinch!
    });

Not sure why the Expand doesn't work but the Pinch works

But i

[2018-08-24 15:35] mvanderkamp commented on #53
This is a bug. See issue #45. I fixed this in PR #48 by consolidating Pinch, Expand, and Distance.

[2018-08-24 17:43] mvanderkamp commented on #52
Interesting. I'm still new to the codebase here, but this seems like an oversight. This will be because hammerjs adds some event listeners to the window. It might be smart to do something similar here. My instinct was to say that you could work around this by using the window as your Region, but that won't work because ZingTouch currently assumes that the Region will be an Element, so trying it wi

[2018-08-24 18:33] hackhat commented on #52
yeah, thanks

[2018-08-24 18:34] hackhat commented on #53
Ah cool. thanks

[2018-08-28 00:12] #49 closed

[2018-08-28 00:12] #47 closed

[2018-08-28 00:13] #50 closed

[2018-08-28 00:13] #53 closed, assigned to nobody

[2018-09-05 21:54] Mboulianne opened #56 "mobile safari: can't video seek if the video is inside a swipable container"
See fiddle https://jsfiddle.net/zd9etz70/37/

When I'm registering the swipe handler, I can't seek anymore in my video.
When I'm not registering it (comment the code) everything work as expected.

ios version 11.4.1

[2018-09-06 12:10] Mboulianne commented on #56
The same issue happen with panning.
https://jsfiddle.net/zd9etz70/47/

Comment code on and off on this fiddle
Open https://jsfiddle.net/zd9etz70/37/show on mobile safari
Observe

Any suggestion^

[2018-09-06 13:37] mvanderkamp commented on #56
Have you tried setting preventDefault to false when you declare the region?

[2018-09-06 18:27] Mboulianne commented on #56
Yeah sorry I forgot to update my ticket.  I did put preventDefault to false and everything works now

Thank you :D

[2018-09-06 18:27] #56 closed

[2018-09-18 11:58] emri99 commented on #45
Is there a release planned soon with this update ?

[2018-10-26 15:55] SeregPie opened #57 "unbind does not work"
Hello. Great library. I made a plugin for Vue and found out that `unbind` does not work. Here is a [codepen](https://codepen.io/SeregPie/pen/xyMYmq).

[2018-11-21 13:28] stratboy opened #58 "Android 4.4.2 and IE11?"
Hi, are Android 4.4.2 and IE11 supported by zingtouch?

[2018-12-13 20:36] guipinheeiro opened #59 "I want to get a negative value from e.detail.data[0].distanceFromOrigin on a pan."
Whenever I reach my origin, if I go left my values to stay positive, I really want to get a negative when I pan left and a positive when I pan right. Is it possible?

[2018-12-27 00:00] kevinclarkadstech commented on #35
Totally agree.  I appreciate all hard work done on OSS but don't use JavaScript libraries these days if they don't have TypeScript definitions. Especially as if you write the library in Typescript you get the definitions for free, so for any relatively modern project, especially one written in ES6 classes already, it should have been written in TS to begin with.  It looks like HammerJs has some de

[2018-12-27 13:54] max-rasguido commented on #35
It was enough for my purposes, I think I took into account all the base use cases.

[2019-01-07 06:46] youcanping opened #60 "`ZingTouch.js`'s `swipe` event is not sensitive enough."
I want to use `ZingTouch.js` as my gesture library in the project, I like `ZingTouch.js` very much.
Compared with `hammer.js` and `ZingTouch.js`, the `swipe` event in `ZingTouch.js` is not very sensitive. On the contrary, `hammer.js` is more sensitive and triggers. How do I configure the changes to reach Hammer? What is the effect of .js` display? Ask for advice!

![jietu20190107-143907-hd](https:

[2019-01-09 22:05] whoacowboy opened #61 "Add callbacks for start, move and end."
Great library, thank you.

I don't know if I am doing this the right way, but I have been tying into the start and end function of the gestures and it is a bit of a PIA.

it looks like this.

[code]

I was thinking it would be great to just pass some callbacks. You could do it something like this.
I can make a PR if your interested.

[code]

[2019-03-01 15:19] frastlin commented on #16
I would also like double tap for a game I'm making.
I could also really use triple tap as well.
I could see 2 possible ways of doing this:
1. the setTimeout method above
2. have the last tap events saved in a list and if the last tap event's timestamp is within the listening period, and the fingers match on both events, then run the double tap event. This method could push the last event and also

[2019-04-12 09:31] bootrino opened #62 "Question - can I capture gestures on iPhone and send to Chrome on desktop?"
I want to capture gestures on the iPhone, and send them via websockets to Chrome or Firefox running on a desktop, where the gesture will then be triggered as a an event on the web page on the desktop.

Is this possible with zingtouch?

[2019-04-18 13:45] Antoine-Demailly opened #63 "Add support for SSR"
Because SSR (Server-Side Rendering) is becoming a common practice it would be cool to support it.

Actually there is the following error : `window is not defined`.
Probably due to this line :
[https://github.com/zingchart/zingtouch/blob/master/src/core/main.js#L8](https://github.com/zingchart/zingtouch/blob/master/src/core/main.js#L8)

[2019-04-18 13:54] Antoine-Demailly commented on #63
Sorry I didn't saw this PR #36

[2019-04-18 13:54] #63 closed

[2019-05-22 13:38] shreeshbhat opened #64 "Reduce bundle size of zingtouch"
Currently, bundle size is not listed in readme file of zingtouch. Please update that.
As well as, what are the plans to reduce bundle size of this library?
Perhaps making it tree shakeable? Using functions?
This is a great library. Thanks for making it and maintaining it.
I believe HammerJS is smaller than this library but not actively maintained.

[2019-05-31 13:09] whoacowboy opened #65 "TypeError: Cannot read property 'Region' of undefined"
I recently upgraded ZingTouch and now I receive an error

The working `index.js` looks like this

[code]

The current code with `index.js` gives me an error.

[code]

I haven't changed my source other than the upgrade.

I have a vue.js webpack app.
[code]

This logs `undefined` and throws the error

`TypeError: Cannot read property 'Region' of undefined`

Any help would be appreciated.

Thanks

[2019-05-31 13:14] whoacowboy opened #66 "Broken images on Readme.md"
I noticed there are a bunch of broken images in your documentation. I'd be happy to help you out and fix those if you either have the original images or give me the new server uri.

[2019-06-25 07:35] toSilence opened #67 "Ipad Three finger tap to zoom"
On ipad when the 3 finger tap to zoom is fired, the library is not firing a custom three finger tap gesture.
But much worser is that the touches count is increase and never decreased. E.g. a two finger distance will never work againg because the touch count is 5.

[2019-06-25 10:48] toSilence commented on #67
The problem is the input array in the State object of the Region is not resetted and so the count is growing.
I fixed it by manually deleting the input array for ipad.

[2019-07-11 09:02] Serginho opened #68 "Impossible to use in a scrollable area."
We have an element with `overflow: scroll` inside a region with `preventDefault=false` and we listen for a `swipe` event, this swipe won't be thrown.

Example in Codepen: https://codepen.io/madridserginho/pen/ydweze

[2019-08-07 16:29] whoacowboy opened #69 "Is this project still actively maintained"
I love this library and was wondering if it is still actively maintained?

Are you looking for people to help maintain it?

[2019-09-26 09:45] operator888 commented on #69
I have the same question.. is this project still active?

[2019-09-26 10:04] mike-schultz commented on #69
@whoacowboy @operator888 Hi there - we're currently not maintaining this project as we don't have the bandwidth nor are using it internally at the moment. You are welcome to develop and pull request any fixes and features - I'll have the team monitor this repository as well.

[2019-09-26 15:56] whoacowboy commented on #69
@mike-schultz I have forked it and have been using it on our site. I will clean up what I am working on and submit a PR. I have a couple questions.

### What are you using internally instead?

### Do you have the images for the home page read me?

http://demos.zingchart.com/assets/zingtouch-docs/region.png
http://demos.zingchart.com/assets/zingtouch-docs/parent-region.png
http://demos.zingchart.co

[2019-10-02 20:24] mike-schultz commented on #69
Zingtouch was originally intended to replace our touch system in our ZingChart library but development decided to go another directly due to the way the code was created. I'll see if I can dig up those images and fix the site.

[2019-10-16 00:13] kmgwalker opened #70 "ZingTouch does not work with iOS 13"
The demo page is unresponsive with ios 13 (ipad and iphone).  Works fine with ios 12 (ipad).

[2019-10-16 08:36] pscheit commented on #69
@mike-schultz what direction? no mobile touch system at all?

[2019-12-26 12:15] burlakko opened #71 "Dragging element crashes at certain point"
I'm trying to implement element dragging with Zingtouch.
I'm able to get the starting pan coordinates, as well as coordinates of every pan event. But when I add new coordinates to element, so it moves with the input, at certain point dragging crashes without any verbose error.
Here's the fiddle: https://jsfiddle.net/burlakko/mdznyerk/34/
Checked in FF and Chrome.

[2020-01-30 18:22] peterdfinn opened #72 "Can't click on buttons any longer after binding TAP event."
I'm making a game in Phaser, and I'm using ZingTouch to help with swipe gestures that are part of gameplay. In Firefox, after I bind a Tap event to document.body, I can no longer click on buttons in the game, even after I unbind said event. This is not a problem in Chrome; just Firefox. Does anyone know why that might be?

[2020-03-24 22:54] tryhardest commented on #61
Did you ever do a PR @whoacowboy ? How was your experience with Zing? Did you previously use Interact.js, hammer, quo or anything?

[2020-03-25 22:29] whoacowboy commented on #61
@tryhardest I forked the rep, added the events to the Pan (and some degree stuff that is suspect) which is what I needed, and then now I just use my forked repo. The library is great, I really like that it tracks multiple touch events. I think the Zing folks have moved on. They said that they opted for another solution and they don't use ZingTouch anymore. When I asked what they opted for they wen

[2020-03-26 00:05] Textras commented on #61
Thanks @whoacowboy yes looks quite unmaintained. We used Hammer and Quo back in the day and Hammer still has a big user base. Ever seen Interact.js?

[2020-03-26 00:07] tryhardest commented on #61
Thanks @whoacowboy yes it does looked unmaintained. We used to use Hammer and Quo back in the day and hammer might not be maintained but still has wide use from the looks of it. But so much has changed past CPL yrs. Ever seen or tinkered with Interact.js our touchy.js? Check them too. I'll check out your fork thanks.

[2020-03-28 16:32] whoacowboy commented on #61
@tryhardest I haven't tried either of those [interact.js](https://github.com/taye/interact.js) looks like it actively maintained, bugs are being closed 4 days ago. Touchy looks like it isn't maintained at all. Thanks for the tip, I'll check out interact when i get the chance.

[2020-03-30 03:17] zingsoftadmin commented on #69
@whoacowboy We have recently got resources back on ZingTouch and will continue to support this repository as best we can. We are open to adding maintainers as well!

[2020-03-30 03:24] #69 closed

[2020-03-30 22:45] whoacowboy commented on #69
@zingsoftadmin I'd be up for helping out.

[2020-03-31 21:27] damntrecky commented on #69
@whoacowboy I have sent you an Maintainer access request.

[2020-03-31 21:29] damntrecky opened #79 "Need to Add CI for"
Need to add github actions so when pull requests come in, CI is triggered.

[2020-04-15 15:13] whoacowboy commented on #66
Looks good.

[2020-04-15 15:13] #66 closed

[2020-04-17 23:30] Xerotherm1c commented on #70
Seems like this should be a top priority bug to fix - the latest iOS not working?? I found that hammer.js has some feature conflicts with iOS13 (documented [here](https://github.com/hammerjs/hammer.js/issues/1237)). One of the comments reads:

@kmgwalker Can you (or anyone with iOS13) test the ZingTouch examples with this setting turned off? I do not have an iOS13 device handy.

[2020-04-18 00:39] whoacowboy commented on #70
I agree, this is pretty big. I started to look into it, but got side tracked with work.

You can test on a Mac with a trackpad and safari as well.

This is what I came across as a starting point.

[code]
I am goin to look into it again, once I have some more time. Any insights you find or PRs would be great.

[2020-04-18 01:50] Xerotherm1c commented on #70
I was able to get my hands on an iPhone 7 running iOS 13.3.1 and the specific code example that does not work is the rotation example. Every other example works on this device, though the pinch-and-zoom graphing example appears to require focus before pinching-and-zooming.

I confirmed that disabling Pointer Events inside Safari's Experimental Settings fixes the otherwise-broken rotation example w

[2020-04-18 14:29] kmgwalker commented on #70
iOS 13.3.1, iphone 11:  On the demos on https://zingchart.github.io/zingtouch/ , (1) 1 and 2-finger taps work, (2) rotate does not work, (3) pinch/expand does NOT work (one must distinguish expanding the chart from the mobile-safari-built-in expansion of the entire web page), and (4) flicking bubbles does not work (one can make a bubble hold still, but one cannot send it in a new direction).

** W

[2020-05-22 17:42] joegaudet commented on #72
I'm also observing this.

[2020-09-09 14:30] fonziemedia commented on #72
Same issue here, seems extended to chrome too now. My solution was to tap the event to the specific element class instead of document.body. Seems fixed now.

[2020-09-12 21:42] #42 closed

[2020-10-20 11:50] kklepper commented on #66
Images broken on https://medium.com/zingchart/getting-touchy-with-the-web-c1c5929b2c80 as well.

[2020-10-20 19:55] kklepper commented on #14
Thank you very much!

See https://stackoverflow.com/questions/64452426/zingtouch-how-to-call-different-urls-with-both-mouse-and-finger-swipe-gestures/64452427#64452427

[2020-11-26 01:05] czzplnm opened #84 "options onStart, onEnd, onMove don't work"
I am following the examples here: https://zingchart.github.io/zingtouch/

And more specifically the pan example here: https://codepen.io/zingchart/pen/RRpyJY

But they don't even follow the docs, for example it is assigning the start function and then calling it within a custom function.

var startPan = customPan.start;

customPan.start = function(inputs) {
  var canvas = document.getElementById('

[2021-02-08 02:32] kylebakerio commented on #70
any news on this?

[2021-06-05 19:13] tanujsati opened #90 "zingtouch is not working with react"

[2021-06-05 19:14] tanujsati commented on #90
./src/Test.js
Module not found: Can't resolve 'zingtouch' in 'E:\react\prog\src'

[2022-05-22 10:02] axelpale commented on #30
Does the [mouseleave event](https://developer.mozilla.org/en-US/docs/Web/API/Element/mouseleave_event) trigger when the mouse is moved outside the window? Maybe the lib should listen for the mouseleave on the region and end the pan when cursor exits the region, even when the mouse button is still pressed.

[2022-08-24 16:51] NaNshekhar04 opened #100 "Double Tap Feature Not working on the ZingTouch HomePage Website!"
![ZingOS](https://user-images.githubusercontent.com/110991877/186476877-b0c0b74d-1fa6-46c1-9a41-0e0c6c50a4e0.gif)

[2022-10-12 04:23] MonkeyTime opened #101 "zingtouch is not working with Electronjs"
VM4 sandbox_bundle:2 Error: module not found: zingtouch
    at preloadRequire (VM4 sandbox_bundle:2:82448)
    at <anonymous>:3:19
    at runPreloadScript (VM4 sandbox_bundle:2:83288)
    at VM4 sandbox_bundle:2:83547
    at VM4 sandbox_bundle:2:83702
    at ___electron_webpack_init__ (VM4 sandbox_bundle:2:83706)
    at VM4 sandbox_bundle:2:83829

[2022-10-12 04:25] MonkeyTime commented on #101
trying create a *.d.ts with "declare module 'zingtouch';" but not working

[2022-10-12 18:18] jeanettephung commented on #101
Hi there!

According to this [blog post](https://medium.com/@Pelle_Jacobs/typescript-declaration-files-of-external-libraries-an-introduction-to-typings-b3d1fbaa07c7), add this as a placeholder for the zingtouch module in the *.d.ts file:
[code]

I personally tested this and it clears the "module not found: zingtouch" error.

If you need more assistance, feel free to reach out.
Please attach a demo

[2022-10-30 15:26] c-smile opened #103 "Dead code in swipe recognizer"
I believe this
https://github.com/zingchart/zingtouch/blob/d36d10e0a375b5b31e6f6beb3f942c16b4433ee9/src/gestures/Swipe.js#L210

should be
[code]
otherwise, it is useless.